body{
    margin: 0px;
    background-color: #3e5f8a;
    color: aliceblue;
}

.titulo {
    text-align: center;
    background-color: black;
    color: azure;
    font-size: 25px;
    padding: 20px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -85px;
}

#player-cards, #dealer-cards{
    height: 240px;
}